<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="6B8B360209DE356BBC133CC8299B352681AA0A44B3911939A1C2BCDF2931C58EAA80C2B2562D687F490C60C8131202A9857DAC7A2207AAEF278FAB688B15F0B2" decryptionKey="7712CADB06A9FFCE3A0A0CA10C771B070AC1ACE57AF1A2A3791364CFC3BB2369" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="4C413D4FEB5575319F9C5CFC74811191C713BE8B462212223BAFEDCDB9EE972A" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="4C413D4FEB5575319F9C5CFC74811191C713BE8B462212223BAFEDCDB9EE972A" realm="http://localhost" />
	</relyingParties>
</securityConfig>