<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6626.0" authCookieName=".SFAUTH-SitefinityWebApp" rolesCookieName=".SFROLES-SitefinityWebApp" validationKey="728707F3AFE0BFACD0D1EF33924B1F6032570D754EC6BC1FC460BEC7A844DC8E8A6858DA6698EC9D4D9BD87925B35288D4607A75D259C20887B38ADD0BEACCB3" decryptionKey="F8E3232E6BF528CE6A87351F834EB5431AD0E481320606E6A8753A38ACBB3849" loggingCookieName=".SFLOG-SitefinityWebApp">
	<securityTokenIssuers>
		<add key="748F78CFF47583427E236725DD3245D87DFDD5C7CBEDA4DE668CD678E24B24BC" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="748F78CFF47583427E236725DD3245D87DFDD5C7CBEDA4DE668CD678E24B24BC" realm="http://localhost" />
	</relyingParties>
</securityConfig>